.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
#id_proveedor{
	width: 350px;
	height: 45px;
	background-color: white;
	border-radius: 0%;	
}

#id_banco{
	width: 350px;
	height: 45px;
	background-color: white;
	border-radius: 0%;	
}

#id_partida{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}

#id_tipo_factura{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}

#id_descricpion{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}
#id_descricpion1{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}
#id_descricpion2{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}
#id_descricpion3{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}
#id_descricpion4{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}
#id_descricpion5{
	width: 350px;
	height: 45px;
	background-color: white;	
	border-radius: 0%;
}
#id_descricpion6{
	width: 350px;
	height: 45px;
	background-color: white;
	border-radius: 0%;	
}

.boton-add{
	margin-left: 2em;
	width: 170px;
	height:60px;
	margin-bottom: -1.5em;
}
.boton-volver{
	margin-left: 2em;
	width: 70px;
	height:40px;
	margin-bottom: -1.5em;	
}
.boton-edit{
	width: 37px;
	height:37px;
	margin-left: 1em;
}
.form{
	padding-left: 2em;
}

.img-index{

	padding-top: 2em;
	padding-left: 4em;
	padding-right: 4em;
}
.perfil{

	 float: right;
}
.pdf-tabla{
  height: 27px;
  width: 27px;
  float: center;
}
.tabla-detalle{
	text-align: center;
}
.username{
  color: black;
  font-size: 15px;
  font-style: italic;
  font-family: fantasy;
  padding-top:1.5em;
  padding-right: 0.5em;
}
.loginbox{
  padding-left: 20px;
  padding-right: 20px;
}
.logo-page{
	float: right;
	width: 110px;
	height: 80px;
	margin-right: 2em;
	margin-top: -2.2em;
}
.logo-excel{
	float: right;
	width: 110px;
	height: 80px;	
	margin-top: 25px;
}
.titulos{
	text-align: center;
	font-size: 25px;
	font-family: italic;
	font-family: fantasy;

}
.text-op{
 	max-width: 80px;
 	max-height: 60px;
 	border-radius: 5px;
}

.text-op1{
	width: 250px;
  	border-radius: 5px;


}

.formulario-parte1{
	width: 250px;
	height: 45px;
	padding: 1em;
	display: inline-block;
	border-radius: 0%;
}

.formulario-parte2{
	width: 65px;
	height: 45px;
	padding: 1em;
	display: inline-block;
	border-radius: 0%;
}

.formulario-parte3{
	width: 170px;
	height: 45px;
	padding: 1em;
	display: inline-block;
	border-radius: 0%;
}

.legend1 {
  color: #ffffff;
  background: #990033;
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  margin: -1em;
  margin-left: 1.5em;
  width: 10em;
  border: 2px solid #660033;
  border-radius: 5px;
 }

 fieldset {
  padding: 0 5px 5px;
  margin: 0 0 30px ;
  background: #B8B8B8 ;
  border-radius: 10px;
}

.errors{
	text-align: center;
	font-size: 45px;
	font-family: italic;
	font-family: fantasy;	
	color: red;
}
select{
	background: transparent;
	border-radius: 50px;
	background-color: white;
	font-size: 20px;
	font-family: italic;
	font-family: fantasy;
	padding-left: 5em;
	width: 400px;
}

footer{

	width: 98%;
	position: absolute;
	margin-top: 155px;
	margin-right: 1em;
	background-color: #C4C4C4;
	height: 150px;
	padding: 1em;
	text-align: center;
}


