<!doctype html>
<html lang="en">
<head>{% load static from staticfiles %}
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="static/js/bootstrap.js"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css.css' %}">
</head>
<div class="container" style="margin-top:40px">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Ingresa tu nueva Password</strong>
					</div>
					<div class="panel-body">
						<form role="form" method="POST">{% csrf_token %}
							<fieldset>
								<div class="row">
									<div class="center-block">
										<img class="profile-img"
											src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												{{ form.as_p }}
											</div>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Cambiar">

										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
<!-- 					<div class="panel-footer ">
						Don't have an account! <a href="#" onClick=""> Sign Up Here </a>
					</div> -->
                </div>
			</div>
		</div>
	</div>
</html>