<!doctype html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% block css %}
			<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
			<link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
			<!-- Font Awesome -->
			<link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}">
			<!-- Ionicons -->
			<link rel="stylesheet" href="{% static "bower_components/Ionicons/css/ionicons.min.css" %}">
			<link rel="stylesheet" href="{% static "dist/css/AdminLTE.min.css" %}">
			<link rel="stylesheet" href="{% static "dist/css/skins/_all-skins.min.css" %}">
			<link rel="stylesheet" href="{% static "bower_components/jvectormap/jquery-jvectormap.css" %}">
			<link rel="stylesheet" href="{% static "plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" %}">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> 
		{% endblock css %}
	</head>
	<body class="hold-transition skin-blue sidebar-mini" >
		<div class="wrapper" style="background-color: #3c8dbc;">
			<div class="container" style="margin-top:40px">
				<div class="row">
					<div class="col-sm-6 col-md-4 col-md-offset-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong> Logueate para poder continuar</strong>
							</div>
							<div class="panel-body">
								<form role="form" method="POST">{% csrf_token %}
									<fieldset>
										<center>
										<div class="row">
											<div class="center-block">
												<img class="profile-img" style="max-width: 50px;"
												 	src="/media/base/login.png" alt="">
											</div>
										</div>
										</center>
										<br>
										<div class="row">
											<div class="col-sm-12 col-md-10  col-md-offset-1 ">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-user"></i>
														</span> 
														{{ form.username }}
														{{ form.username.errors }}
													</div>
												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-lock"></i>
														</span>
														{{ form.password }}
														{{ form.password.errors }}
													</div>
												</div>
												<div class="form-group">
													<input type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar">
												</div>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
		<!-- 					<div class="panel-footer ">
								Don't have an account! <a href="#" onClick=""> Sign Up Here </a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>