<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static from staticfiles %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" href="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index/">Sistema de Administracion Financiera</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="width: 90%; padding-top: 4em; padding-left: 4em;">
 <h2><i class="fa fa-envelope"></i> Recuperar Contraseña</h2>
                
                <p>Si olvidaste tu contraseña ingresa tu email para .</p>
                <p>poder proporcionarte una provisoria</p>
                
                <form action="" method="post">{% csrf_token %}
                    <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>


    {{ form.as_p }}
     
</div>
                    <br />
                    <button type="submit" value="sub" name="sub" class="btn btn-primary"><i class="fa fa-share" onclick="Guardar()"></i> Recuperar!</button>
              </form>
</div>
    {% block scripts %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{STATIC_URL}}/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}/js/main.js"></script>   
    {% endblock %}
</body>
<div class="col-md-12" >
   <footer>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<div class="container">
            <p class="txt-railway">- SmartSystem -</p>
            <br />
                <a href="https://www.facebook.com/fabianfalon"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
              <a href="https://twitter.com/fabian_falon"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
              <a href="/contacto2/"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
</div>
</div>
</footer>
  </div>
<script>
 function Guardar(){
      if (confirm("Se envio un email con informacion para poder acceder"))
  {
    window.location='/';
  }
      
      }
</script>
</div>
</html>
