{% extends "base.html" %} {% block content %}
<section class="content-header">
    <h1>
        Configuraciones
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url "core:home" %}">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li class="active">{{breadcrumb}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Configuraciones
                    </h3>
                </div>
                <form role="form" method="POST">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Stock minimo</label>
                            {{ form.minimum_stock }} {{ form.minimum_stock.errors }}
                        </div>
                        <div class="form-group">
                            <label for="name">Tipo de formate para exportart</label>
                            {{ form.export_file_type }} {{ form.export_file_type.errors }}
                        </div>
                        <div class="form-group">
                            <label for="name">Interes para pago en 3 cuotas</label>
                            {{ form.fee_3_surcharge }} {{ form.fee_3_surcharge.errors }}
                        </div>
                        <div class="form-group">
                            <label for="name">Interes para pago en 6 cuotas</label>
                            {{ form.fee_6_surcharge }} {{ form.fee_6_surcharge.errors }}
                        </div>
                        <div class="form-group">
                            <label for="name">Interes para pago en 9 cuotas</label>
                            {{ form.fee_9_surcharge }} {{ form.fee_9_surcharge.errors }}
                        </div>
                        <div class="form-group">
                            <label for="name">Interes para pago en 12 cuotas</label>
                            {{ form.fee_12_surcharge }} {{ form.fee_12_surcharge.errors }}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url "core:home" %}" style="color: white; text-decoration: none !important;">
                                Cancelar
                            </a>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%}