{% extends "base.html" %} {% block content %}
<section class="content-header">
    <h1>
        Categorias
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url "core:home" %}">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li>
            <a href=" {% url "core:categories" %} ">
                <i class="fa fa-bars"></i> Categorias
            </a>
        </li>
        <li class="active">{{breadcrumb}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {% if title == 'Agregar' %}
                            {{title}} Nueva Categoria
                        {% else %}
                            {{title}} Categoria
                        {% endif %}
                    </h3>
                </div>
                <form role="form" method="POST">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            {{ form.name }} {{ form.name.errors }}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url "core:categories" %}" style="color: white; text-decoration: none !important;">
                                Cancelar
                            </a>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%}