{% extends "base.html" %} {% block content %}
<section class="content-header">
    <h1>
        Categorias
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url "core:home" %}">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li class="active">Categorias</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="box">
        <div class="box-header" style="margin-top: 10px; margin-bottom: -20px">
            <div class="col-md-12">
                <div class="col-md-5">
                    <h3 class="box-title">Categorias</h3>
                </div>
                <div class="col-md-7" style="text-align: right;">
                    <a href="{% url "core:new_categories" %}" style="color: white; text-decoration: none !important;">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i>
                            <span>Nuevo</span>
                        </button>
                    </a>
                    <a href="#" style="color: white; text-decoration: none !important;">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="fas fa-upload"></i>
                            <span>Importar</span>
                        </button>
                    </a>
                    <a href="{% url "core:export_categories" %}" style="color: white; text-decoration: none !important;">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="fas fa-download"></i>
                            <span>Exportar</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="box-body no-padding">
            <div class="col-md-12">
                <table id="table-categories" class="display compact table-striped table-categories" style="width:100%">
                    <thead>
                        <th style="width: 10px">#</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </thead>
                    {% for category in categories %}
                    <tr id=forloop.counter>
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td>
                            <center>
                                <a href="{{category.get_delete_absolute_url}}">
                                    <button type="button" class="btn btn-xs btn-danger">
                                        <i class="ion-android-delete"></i>
                                    </button>
                                </a>
                                <a href="{{category.get_edit_absolute_url}}">
                                    <button type="button" class="btn btn-xs btn-warning">
                                        <i class="ion-edit"></i>
                                    </button>
                                </a>
                            </center>
                        </td>
                    </tr>
                    {% endfor %}
                    <thead>
                        <th style="width: 10px">#</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%} {% block extra_js %}
<script type="text/javascript" language="javascript" class="init">
    $(function () {
        $('#table-categories').dataTable({
            "ordering": true,
            "bJQueryUI": true,
            "bSort": false,
            "bPaginate": true,
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                    "first": "Primera",
                    "last": "Ultima",
                },
                "info": "Mostrando _START_ de _END_ de _TOTAL_ registros",
                "infoEmpty": "No hay informacion para mostrar",
                "processing": "Procesando...",
                "search": "Buscar:",
                "lengthMenu": "Mostrar _MENU_ registros",
            },
            "columns": [
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" }
            ]
        });
    });
</script>
{% endblock %}