{% extends "base.html" %} {% block content %}
<section class="content-header">
    <h1>
        Cliente
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url "core:home" %}">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li>
            <a href=" {% url "core:providers" %} ">
                <i class="fa fa-users"></i> Cliente
            </a>
        </li>
        <li class="active">{{breadcrumb}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    {% if title == 'Agregar' %} {{title}} Nuevo Cliente {% else %} {{title}} Proveedor {% endif %}
                </div>
                <form role="form" method="POST">{% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="business_name">Nombre comercial</label>
                            {{ form.business_name }} {{ form.business_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="first_name">Nombre</label>
                            {{ form.first_name }} {{ form.first_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="last_name">Apellido</label>
                            {{ form.last_name }} {{ form.last_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="dni">DNI</label>
                            {{ form.dni }} {{ form.dni.errors }}
                        </div>
                        <div class="form-group">
                            <label for="dni">CUIT</label>
                            {{ form.cuit }} {{ form.cuit.errors }}
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefono</label>
                            {{ form.phone }} {{ form.phone.errors }}
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{ form.email }} {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <label for="address">Direccion</label>
                            {{ form.address }} {{ form.address.errors }}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url "core:clients" %}" style="color: white; text-decoration: none !important;">
                                Cancelar
                            </a>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%}