{% extends "base.html" %} {% block content %}
<section class="content-header">
    <h1>
        Productos
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url "core:home" %}">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li>
            <a href=" {% url "core:products" %} ">
                <i class="fa fa-box"></i> Productos
            </a>
        </li>
        <li class="active">{{breadcrumb}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    {% if title == 'Agregar' %}
                        {{title}} Nuevo Producto
                    {% else %}
                        {{title}} Producto
                    {% endif %}
                </div>
                <form role="form" method="POST">{% csrf_token %}
                     {{ form.media }}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="code">Codigo</label>
                            {{ form.code }} {{ form.code.errors }}
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            {{ form.name }} {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="provider">Proveedor</label>
                            {{ form.provider }} {{ form.provider.errors }}
                        </div>
                        <div class="form-group">
                            <label for="category">Categoria</label>
                            {{ form.category }} {{ form.category.errors }}
                        </div>
                        <div class="form-group">
                            <label for="unity">Cantidad</label>
                            {{ form.unity }} {{ form.unity.errors }}
                        </div>
                        <div class="form-group">
                            <label for="price">Precio</label>
                            {{ form.cost_price }} {{ form.cost_price.errors }}
                        </div>
                        <div class="form-group">
                            <label for="sale_price">Precio de Venta</label>
                            {{ form.sale_price }} {{ form.sale_price.errors }}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url "core:products" %}" style="color: white; text-decoration: none !important;">
                                Cancelar
                            </a>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%}