{% extends "base.html" %} {% block content %}
<section class="content-header">
    <h1>
        Productos
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url "core:home" %}">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li class="active">Productos</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="box">
        <div class="box-header" style="margin-top: 10px; margin-bottom: -20px">
            <div class="col-md-12">
                <div class="col-md-5">
                    <h3 class="box-title">Productos</h3>
                </div>
            </div>
        </div>
        <hr>
        <div class="box-body no-padding">
            <div class="col-md-12">
                <center>
                    <h2>Eliminar Producto</h2>
                    <form method="post">{% csrf_token %}
                        <p>Estas seguro de eliminar el producto "{{ object }}"?</p>
                        <input type="submit" value="Confirmar" class="btn btn-labeled btn-success" />
                        <a href="{% url 'core:products' %}">No,cancelar.</a>
                    </form>
                </center>
                <br>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%}