{% extends "base.html" %} 
{% load humanize %}
{% block content %}
    <section class="content-header">
        <h1>
            Productos
            <small>Panel de Control</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="active">Productos</li>
        </ol>
    </section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="box">
        <div class="box-header" style="margin-top: 10px; margin-bottom: -20px">
            <div class="col-md-12">
                <div class="col-md-5">
                    <h3 class="box-title">Productos</h3>
                </div>
                <div class="col-md-7" style="text-align: right;">                
                <a href="{% url "core:new_products" %}" style="color: white; text-decoration: none !important;">
                    <button type="button" class="btn btn-success btn-sm">
                        <i class="fas fa-plus"></i>
                        <span>Nuevo</span>
                    </button>
                </a>
                <a href="#" style="color: white; text-decoration: none !important;">
                    <button type="button" class="btn btn-success btn-sm">
                        <i class="fas fa-upload"></i>
                        <span>Importar</span>
                    </button>
                </a>
                <a href="{% url "core:export_products" %}" style="color: white; text-decoration: none !important;">
                    <button type="button" class="btn btn-success btn-sm">
                        <i class="fas fa-download"></i>
                        <span>Exportar</span>
                    </button>
                </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="box-body no-padding">
            <div class="col-md-12">
                <table id="table-products" class="table-striped table-products" >
                    <thead>
                        <th style="width: 10px">#</th>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Precio venta</th>
                        <th>Acciones</th>
                    </thead>
                    {% for product in products %}
                        <tr id=forloop.counter>
                            <td>{{product.code}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.provider.business_name}}</td>
                            <td>{{product.category}}</td>
                            <td style="text-align: center;">{{product.unity}}</td>
                            <td style="text-align: right;"> ${{product.cost_price|floatformat:2|intcomma}} </td>
                            <td style="text-align: right;"> ${{product.sale_price|floatformat:2|intcomma}} </td>
                            <td style="text-align: center;">
                                <a href="{{product.get_delete_absolute_url}}">
                                    <button type="button" class="btn btn-xs btn-danger">
                                        <i class="ion-android-delete"></i>
                                    </button>
                                </a>
                                <a href="{{product.get_edit_absolute_url}}">
                                    <button type="button" class="btn btn-xs btn-warning">
                                        <i class="ion-edit"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <thead>
                        <th style="width: 10px">#</th>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Precio venta</th>                        
                        <th>Acciones</th>                        
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%}
{% block extra_js %}
<script type="text/javascript" language="javascript" class="init">
    $(function () {
        $('#table-products').dataTable({
            "ordering": true,
            "bJQueryUI": true,
            "bSort": false,
            "bPaginate": true,
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                    "first": "Primera",
                    "last": "Ultima",
                },
                "info": "Mostrando _START_ de _END_ de _TOTAL_ registros",
                "infoEmpty": "No hay informacion para mostrar",
                "processing": "Procesando...",
                "search": "Buscar:",
                "lengthMenu": "Mostrar _MENU_ registros",
            },
            "columns": [
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" }
            ]
        });
    });
</script> {% endblock %}