{% extends "base.html" %} 
{% load render_bundle from webpack_loader %}
{% block content %}
    <section class="content-header">
        <h1>
            Ventas
            <small>Panel de Control</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url "core:home" %}">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href=" {% url "core:sales" %} ">
                    <i class="fa fa-shopping-cart"></i> Ventas
                </a>
            </li>
            <li class="active">Nuevo</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="container" id="container"></div>
                 </div>
            </div>
        </div>
    </section>
{% endblock content%}
{% block extra_js %}
    <script>
        var context = {
            store_id: '{{store_id}}',
        };
    </script>
    {% render_bundle 'manifest' 'js' %}
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'posventa' 'js' %}
{% endblock %}