{% extends "base.html" %}
{% load humanize %}
{% block content %}
<section class="content-header">
    <h1>
        Ventas
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url "core:home" %}">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li class="active">Ventas</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Page Content -->
    <div class="box">
        <div class="box-header" style="margin-top: 10px; margin-bottom: -20px">
            <div class="col-md-12">
                <div class="col-md-5">
                    <h3 class="box-title">Ventas</h3>
                </div>
                <div class="col-md-7" style="text-align: right;">
                    <a href="{% url "core:new_sales" %}" style="color: white; text-decoration: none !important;">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i>
                            <span>Nuevo</span>
                        </button>
                    </a>
                    <a href="#" style="color: white; text-decoration: none !important;">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="fas fa-download"></i>
                            <span>Exportar</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="box-body no-padding">
            <div class="col-md-12">
                <table id="table-sales" class="display compact table-striped table-sales" style="width:100%">
                    <thead>
                        <th style="width: 10px">#</th>
                        <th>Fecha</th>
                        <th>Monto Total</th>
                        <th>Tipo de Operacion</th>
                        <th>Acciones</th>
                    </thead>
                    {% for sale in sales %}
                    <tr id=forloop.counter>
                        <td>{{sale.sale_number}}</td>
                        <td>{{sale.date}}</td>
                        <td style="text-align: center;"> ${{sale.total_amount|floatformat:2|intcomma}} </td>
                        {% if sale.operation_type == 1  %}
                            <td>Efectivo</td>
                        {% elif sale.operation_type == 2 %}
                            <td>Cheque</td>
                        {% elif sale.operation_type == 3 %}
                            <td>Tarjeta debito</td>
                        {% elif sale.operation_type == 4 %}
                            <td>Tarjeta credito</td>
                        {% elif sale.operation_type == 5 %}
                            <td>Vale</td>
                        {% elif sale.operation_type == 6 %}
                            <td>Otros</td>
                        {% endif %}
                        <td>
                        </td>
                    </tr>
                    {% endfor %}
                    <thead>
                        <th style="width: 10px">#</th>
                        <th>Fecha</th>
                        <th>Monto Total</th>
                        <th>Tipo de Operacion</th>
                        <th>Acciones</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- /.container -->
{% endblock content%} {% block extra_js %}
<script type="text/javascript" language="javascript" class="init">
    $(function () {
        $('#table-sales').dataTable({
            "ordering": true,
            "bJQueryUI": true,
            "bSort": false,
            "bPaginate": true,
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                    "first": "Primera",
                    "last": "Ultima",
                },
                "info": "Mostrando _START_ de _END_ de _TOTAL_ registros",
                "infoEmpty": "No hay informacion para mostrar",
                "processing": "Procesando...",
                "search": "Buscar:",
                "lengthMenu": "Mostrar _MENU_ registros",
            },
            "columns": [
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },
                { "orderDataType": "dom-text-numeric" },                
            ]
        });
    });
</script>
{% endblock %}